@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: blanchedalmond;
    text-align: center;
     font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

form {
    text-align: left;
}

fieldset {
    border: 1rem solid black;
}

.table_pos{
    margin-left:auto;
    margin-right:auto;
}
h1{
    color:red;
    font-size: 36px;
}