<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> <!-- character encoding -->

    <!-- For responsive page and proper scaling based on device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <meta name="author" content="pokedreamteam">
    <meta name="description" content="">
    <meta name="keywords" content="HTML5, Tags">

    <!-- The following specifies a favicon (browser tab icon)-->
    <!-- image/png is a mime type -->
    <!-- <link rel="stylesheet" href="mystyle.css"> -->

    <title>HTML Template #2</title>
</head>

<body>
    <h1>Welcome!</h1>
    <h2>Ready to create your F1 team!</h2>
    <a href="/create_team">Let's Go</a>
    <hr>
    <a href="/teams">See created teams</a>
    <a href="/delete">Delete all teams</a>
</body>
 
</html>
